name: deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pages: write

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: build
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: upload artiface
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./out"
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
